VITE_SUPABASE_URL=https://lbrkgkiosxprpcgmonxy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxicmtna2lvc3hwcnBjZ21vbnh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzODU3NTEsImV4cCI6MjA4NTk2MTc1MX0.1C1mhETe2tYNin4qfHB6mWe6FgPQ1lJymlhU25Z2noc
VITE_SUPABASE_ENABLED=true
